/* Estilos generales */
* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: white;
}

/* Estilo para el encabezado */
header {
  background-color: #333;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

header nav {
  margin: 0 0 0 10px;
}

/* Estilo para el logo */
.logo img {
  width: 200px; /* Ajusta el tamaño del logo según tus necesidades */
}

/* Estilo para la barra de búsqueda */
.search-bar {
  background-color: white;
  display: flex;
  align-items: center;
  padding: 5px;
  border-radius: 25px; /* Bordes redondeados para la barra de búsqueda */
  width: 50%; /* Ajusta el ancho de la barra de búsqueda según tus necesidades */
}

.search-bar input[type="text"] {
  border: none;
  width: 100%;
  padding: 5px;
}

.search-bar button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

/* Estilo para el botón de usuario (nombre del usuario) */
.user-name {
  /* Estilo para el nombre del usuario (puedes personalizar según tus necesidades) */
  color: white;
  margin-right: 10px;
}

/* Estilo para la barra de navegación (Home, Categorías, Contacto) */
nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

/*nombre de usuario*/
.user-welcome {
  font-weight: bold;
  margin-right: 20px; /* Espacio entre el nombre del usuario y otros elementos del encabezado */
}

/*main*/

/* Estilo para la sección de destacados */
.destacados {
  background-color: #f3f3f3; /* Cambia el color de fondo a un tono ligeramente más oscuro que blanco */
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  max-width: 1200px; /* Limita el ancho máximo de la sección de destacados */
  margin: 0 auto; /* Centra la sección horizontalmente */
}

/* Estilo para cada cuadro de producto en la sección de destacados */
.destacados .producto {
  display: inline-block;
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  width: calc(25% - 40px); /* Establece el ancho de cada producto para que ocupe el 25% del contenedor */
  margin-right: 20px; /* Espaciado entre los productos */
  vertical-align: top; /* Alinea los productos en la parte superior */
  text-align: center;
  box-sizing: border-box; /* Incluye el padding y border en el ancho */
}

.producto img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

/*footer*/
footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px 0;
}

/*------------login-html--------------------*/

/* Estilo para el cuerpo (body) de la página de inicio de sesión */
.body-login {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Centra el contenido verticalmente en la ventana */
  background: #9053c7;
  background: -webkit-linear-gradient(-135deg, #c850c0, #4158d0);
  background: -o-linear-gradient(-135deg, #c850c0, #4158d0);
  background: -moz-linear-gradient(-135deg, #c850c0, #4158d0);
  background: linear-gradient(-135deg, #c850c0, #4158d0);
}

/* Estilo para el contenedor de inicio de sesión */
.login-container {
  background-color: #f1f1f1; /* Color de fondo del contenedor */
  padding: 20px;
  border: 1px solid #ddd; /* Borde alrededor del contenedor */
  border-radius: 5px; /* Bordes redondeados */
  text-align: center;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2); /* Sombra ligera */
  margin-bottom: 20vh;
}

/* Estilo para el encabezado (h2) */
.login-container h2 {
  color: #333;
}

/* Estilo para el formulario de inicio de sesión */
#login-form {
  margin-top: 20px; /* Espacio superior entre el encabezado y el formulario */
  text-align: center;
}

/* Estilo para las etiquetas de los campos de entrada y el botón */
.label-login {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

/* Estilo para los campos de entrada de texto */
.input-login[type="text"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
}

/* Estilo para el botón de inicio de sesión */
.button-login[type="submit"] {
  background-color: #333;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

/* Estilo para el botón de inicio de sesión al pasar el cursor sobre él */
.button-login[type="submit"]:hover {
  background-color: #555;
}

/*logo*/
/* Estilo para el banner */
.banner {
  text-align: center;
  padding: 10px; /* Espaciado interno */
  transition: transform 0.3s ease-in-out; /* Transición para la propiedad transform */
}

/* Estilo para la imagen del logo en el banner */
.banner img {
  max-width: 100%; /* Ajusta el ancho máximo de la imagen al tamaño del contenedor */
}

/* Estilo para el banner cuando el mouse está sobre él */
.banner:hover {
  transform: scale(1.1); /* Aumenta el tamaño del banner en un 5% */
}

/* Responsive */
@media screen and (max-width: 768px) {
  .container {
    padding: 10px;
  }

  .search-bar input[type="text"] {
    padding: 8px;
  }

  .search-bar button {
    padding: 8px 15px;
  }

  /* Modifica el estilo de la sección de destacados en dispositivos más pequeños */
  .destacados {
    padding: 10px;
  }

  .destacados .producto {
    width: calc(50% - 20px); /* Cambia el ancho de los productos en dispositivos móviles */
    margin-right: 0;
  }
}
